<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All about Whisky!</title>
        <style>

        body{
            font-size: 12px;
            font-weight: bold;
        }

        h1 {
            color: brown;
            text-align: center;
        }

        h2 {
            color: brown;
            font-size: 1.5em;
        }

        p {
            color: dimgray;
            font-family: "Helvetica", sans-serif;
        }

        #rabbits-song {
            background-color: yellow;
        }

        #rabbits-info-heading {
            background-color: purple;
            text-decoration: underline;
        }

        .explanation {
            background-color: yellow;
            line-height: 1.5em;
        }

        a {
            text-decoration: none;
        }

        body {
            background-color: sandybrown;
        }
        </style>
    </head>
    <body>

    <h1>All about Whisky!</h1>

    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmyhouserabbit.com%2Fnew-to-rabbits%2Fthinking-about-getting-a-pet-rabbit%2F&psig=AOvVaw0lPLmiPfU9sFYenlZBsTod&ust=1674237958311000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKCi78ec1PwCFQAAAAAdAAAAABAE" width="100">

    <h2>World's Five Major Whiskies</h2>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Flavor Profile</th>
                <th>Major Brands</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Scotch</td>
                <td>Peat, smoke, malt</td>
                <td>black and white</td>
            </tr>
            <tr>
                <td>Irish whiskey</td>
                <td>Malty, fruity, smooth</td>
                <td>black</td>
            </tr>
            <tr>
                <td>Bourbon</td>
                <td>Caramel, vanilla, oak</td>
                <td>Ballantine's</td>
            </tr>
            <tr>
                <td>Canadian whiskey</td>
                <td>Smooth, light, grainy</td>
                <td>Tullamore Dew</td>
            </tr>
            <tr>
                <td>Japanese whiskey</td>
                <td>Fruity, floral, delicate</td>
                <td>Hibiki, Yamazaki, Hakushu</td>
            </tr>
        </tbody>
    </table>

    <h2>Contents</h2>

    <ol>
        <li><a href="#Etymology">Etymology</a></li>
        <li><a href="#History">History</a></li>
        <li><a href="#Production">Production</a></li>
        <li><a href="#Types">Types</a></li>
        <li><a href="#Chemistry">Chemistry</a></li>
    </ol>



    <h2 id="Etymology">1. Etymology</h2>

    <p class="explanation">
        The word whisky (or whiskey) is an anglicisation of the Classical Gaelic word uisce (or uisge) meaning "water" (now written as uisce in Modern Irish, and uisge in Scottish Gaelic). This Gaelic word shares its ultimate origins with Germanic water and Slavic voda of the same meaning. Distilled alcohol was known in Latin as aqua vitae ("water of life"). This was translated into Old Irish as uisce beatha, which became Uisce beatha (Irish pronunciation: [ˈɪʃcə ˈbʲahə]) in Irish and uisge beatha [ˈɯʃkʲə ˈbɛhə] in Scottish Gaelic. Early forms of the word in English included uskebeaghe (1581), usquebaugh (1610), usquebath (1621), and usquebae (1715).
    </p>

    <h2 id="History">2. History</h2>

    <h3>Early distilling</h3>

    <p class="explanation">
        It is possible that distillation was practised by the Babylonians in Mesopotamia in the 2nd millennium BC, with perfumes and aromatics being distilled, but this is subject to uncertain and disputed interpretations of evidence. <br>
        The earliest certain chemical distillations were by Greeks in Alexandria in the 1st century AD, but these were not distillations of alcohol. The medieval Arabs adopted the distillation technique of the Alexandrian Greeks, and written records in Arabic begin in the 9th century, but again these were not distillations of alcohol.Distilling technology passed from the medieval Arabs to the medieval Latins, with the earliest records in Latin in the early 12th century. <br>
        The earliest records of the distillation of alcohol are in Italy in the 13th century, where alcohol was distilled from wine. An early description of the technique was given by Ramon Llull (1232–1315). Its use spread through medieval monasteries,[15] largely for medicinal purposes, such as the treatment of colic and smallpox. <br>
    </p>

        <h3>Ireland and Scotland</h3>

    <p class="explanation">
        The art of distillation spread to Ireland and Scotland no later than the 15th century, as did the common European practice of distilling "aqua vitae", spirit alcohol, primarily for medicinal purposes.[17] The practice of medicinal distillation eventually passed from a monastic setting to the secular via professional medical practitioners of the time, The Guild of Barber Surgeons.[17] The earliest mention of whisky in Ireland comes from the seventeenth-century Annals of Clonmacnoise, which attributes the death of a chieftain in 1405 to "taking a surfeit of aqua vitae" at Christmas.[18] In Scotland, the first evidence of whisky production comes from an entry in the Exchequer Rolls for 1495 where malt is sent "To Friar John Cor, by order of the king, to make aquavitae", enough to make about 500 bottles.[19]
        James IV of Scotland (r. 1488–1513) reportedly had a great liking for Scotch whisky, and in 1506 the town of Dundee purchased a large amount of whisky from the Guild of Barber-Surgeons, which held the monopoly on production at the time. Between 1536 and 1541, King Henry VIII of England dissolved the monasteries, sending their monks out into the general public. Whisky production moved out of a monastic setting and into personal homes and farms as newly independent monks needed to find a way to earn money for themselves.[16]
        The distillation process was still in its infancy; whisky itself was not allowed to age, and as a result tasted very raw and brutal compared to today's versions. Renaissance-era whisky was also very potent and not diluted. Over time whisky evolved into a much smoother drink.
        With a royal licence to distil Irish whiskey from 1608, the Old Bushmills Distillery in Northern Ireland is the oldest licensed whiskey distillery in the world.[20]
    </p>

    <h3>18th century</h3>

    <p class="explanation">
        In 1707, the Acts of Union merged England and Scotland, and thereafter taxes on it rose dramatically.[21] Following parliament's divisive malt tax of 1725, most of Scotland's distillation was either shut down or forced underground. Scotch whisky was hidden under altars, in coffins, and in any available space to avoid the governmental excisemen or revenuers.[16] Scottish distillers, operating out of homemade stills, took to distilling whisky at night when the darkness hid the smoke from the stills. For this reason, the drink became known as moonshine.[22] At one point, it was estimated that over half of Scotland's whisky output was illegal.[21]
        In America, whisky was used as currency during the American Revolution; George Washington operated a large distillery at Mount Vernon. Given the distances and primitive transportation network of colonial America, farmers often found it easier and more profitable to convert corn to whisky and transport it to market in that form. It also was a highly coveted sundry and when an additional excise tax was levied against it in 1791, the Whiskey Rebellion erupted.
    </p>

    <h3>19th century</h3>

    <p class="explanation">
        The drinking of Scotch whisky was introduced to India in the nineteenth century. The first distillery in India was built by Edward Dyer at Kasauli in the late 1820s. The operation was soon shifted to nearby Solan (close to the British summer capital Shimla), as there was an abundant supply of fresh spring water there.[24]
        In 1823, the UK passed the Excise Act, legalizing the distillation (for a fee), and this put a practical end to the large-scale production of Scottish moonshine.[16]
        In 1831, Aeneas Coffey patented the Coffey still, allowing for a cheaper and more efficient distillation of whisky. In 1850, Andrew Usher began producing a blended whisky that mixed traditional pot still whisky with that from the new Coffey still. The new distillation method was scoffed at by some Irish distillers, who clung to their traditional pot stills. Many Irish contended that the new product was, in fact, not whisky at all.[25]
        By the 1880s, the French brandy industry was devastated by the phylloxera pest that ruined much of the grape crop; as a result, whisky became the primary liquor in many markets.
    </p>

    <h3>20th century</h3>

    <p class="explanation">
        During the Prohibition era in the United States lasting from 1920 to 1933, all alcohol sales were banned in the country. The federal government made an exemption for whisky prescribed by a doctor and sold through licensed pharmacies. During this time, the Walgreens pharmacy chain grew from 20 retail stores to almost 400.
    </p>

    <h2 id="Production">3. Production</h2>

    <h3>Distillation</h3>

    <p class="explanation">
        A still for making whisky is usually made of copper, since it removes sulfur-based compounds from the alcohol that would make it unpleasant to drink. Modern stills are made of stainless steel with copper innards (piping, for example, will be lined with copper along with copper plate inlays along still walls). The simplest standard distillation apparatus is commonly known as a pot still, consisting of a single heated chamber and a vessel to collect purified alcohol.
        Column stills are frequently used in the production of grain whisky and are the most commonly used type of still in the production of bourbon and other American whiskeys. Column stills behave like a series of single pot stills, formed in a long vertical tube. Whereas a single pot still charged with wine might yield a vapour enriched to 40–60% alcohol, a column still can achieve a vapour alcohol content of 95.6%; an azeotropic mixture of alcohol and water.
    </p>

    <h3>Aging</h3>

    <p class="explanation">
        Whiskies do not mature in the bottle, only in the cask, so the "age" of a whisky is only the time between distillation and bottling. This reflects how much the cask has interacted with the whisky, changing its chemical makeup and taste. Whiskies that have been bottled for many years may have a rarity value, but are not "older" and not necessarily "better" than a more recent whisky that matured in wood for a similar time. After a decade or two, additional aging in a barrel does not necessarily improve a whisky.
        While aging in wooden casks, especially American oak and French oak casks, whisky undergoes six processes that contribute to its final flavour: extraction, evaporation, oxidation, concentration, filtration, and colouration.[28] Extraction in particular results in whisky acquiring a number of compounds, including aldehydes and acids such as vanillin, vanillic acid, and syringaldehyde.[29] The casks used for aging bourbon whiskey are required to be new (and charred); after being used for this purpose, these casks are typically exported for use in the aging of other whiskies elsewhere. Distillers will sometimes age their whiskey in barrels previously used to age other spirits, such as rum or sherry, to impart particular flavours.
    </p>

    <h3>Packaging</h3>

    <p class="explanation">
        Most whiskies are sold at or near an alcoholic strength of 40% abv, which is the statutory minimum in some countries[11] – although the strength can vary, and cask-strength whisky may have as much as twice that alcohol percentage.
    </p>

    <h3>Exports</h3>

    <p class="explanation">
        Whisky is probably the best known of Scotland's manufactured products. Exports have increased by 87% in the decade to 2012 and it contributes over £4.25 billion to the UK economy, making up a quarter of all its food and drink revenues.[30] In 2012, the US was the largest market for Scotch whisky (£655 million), followed by France (£535 million).[31] It is also one of the UK's overall top five manufacturing export earners and it supports around 35,000 jobs.[32] Principal whisky producing areas include Speyside and the Isle of Islay, where there are nine distilleries providing a major source of employment. In many places, the industry is closely linked to tourism, with many distilleries also functioning as attractions worth £30 million GVA each year.[33]
        In 2011, 70% of Canadian whisky was exported, with about 60% going to the US, and the rest mostly to Europe and Asia.[34] 15 million cases of Canadian whisky were sold in the US in 2011.
    </p>


    <h2 id="Types">4. Types</h2>

    <p class="explanation">
        Whisky or whisky-like products are produced in most grain-growing areas. They differ in base product, alcoholic content, and quality.
    </p>

    <ul>
        <li>Malt whisky – made primarily from malted barley</li>
        <li>Grain whisky – made from any type of grain</li>
    </ul>

    <p class="explanation">
        Malts and grains are combined in various ways:
    </p>

    <ul>
        <li>Single malt whisky is whisky from a single distillery made from a mash that uses only one particular malted grain. Unless the whisky is described as single-cask, it contains whisky from many casks, and different years, so the blender can achieve a taste recognisable as typical of the distillery. In most cases, single malts bear the name of the distillery, with an age statement and perhaps some indication of some special treatments, such as maturation in a port wine cask.</li>
        <li>Blended malt whisky is a mixture of single malt whiskies from different distilleries. If whisky is labelled "pure malt" or just "malt" it is almost certainly a blended malt whisky. This was formerly called a "vatted malt" whisky.</li>
        <li>Blended whisky is made from a mixture of different types of whisky. A blend may contain whisky from many distilleries so that the blender can produce a flavour consistent with the brand. The brand name may, therefore, omit the name of a distillery. Most Scotch, Irish and Canadian whisky is sold as part of a blend, even when the spirits are the product of one distillery, as is common in Canada.[35] American blended whisky may contain neutral spirits.</li>
        <li>Cask strength (also known as barrel proof) whiskies are rare, and usually, only the very best whiskies are bottled in this way. They are bottled from the cask undiluted or only lightly diluted.</li>
        <li>Single cask (also known as single barrel) whiskies are bottled from an individual cask, and often the bottles are labelled with specific barrel and bottle numbers. The taste of these whiskies may vary substantially from cask to cask within a brand.</li>
    </ul>

    <h2 id="Chemistry">5. Chemistry</h2>

    <p class="explanation">
        Whiskies and other distilled beverages, such as cognac and rum, are complex beverages that contain a vast range of flavouring compounds, of which some 200 to 300 are easily detected by chemical analysis. The flavouring chemicals include "carbonyl compounds, alcohols, carboxylic acids and their esters, nitrogen- and sulfur-containing compounds, tannins, and other polyphenolic compounds, terpenes, and oxygen-containing, heterocyclic compounds" and esters of fatty acids.[92] The nitrogen compounds include pyridines, picolines and pyrazines.[93] The sulfur compounds include thiophenes and polysulfides which seem to contribute to whiskey's roasted character.
    </p>

    </body>
</html>