{% extends "base.html" %}
{% block content %}
    <div class="">
        <h3 style="background: #ff7300;" class="bahn36top">&nbsp;&nbsp;&nbsp;Unveil the world of premium Japanese whiskey at prices you can't resist</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="bahn32">For Whisky Beginners</h3>
                {% load static %}
                <img src="{% static 'myapp/forbeginners.png'%}" alt="For Whisky Beginners" width="250px">
                <h4 class="bahn24"> Please choose what you need to know before selecting whisky</h4>
                <p><a class="bahn24link" href="{% url 'beginners' %}">How to find your favorite whisky</a><br></p>
            </div>
            <div class="col-sm-6">
                <h3 class="bahn32">Navigation</h3>
                {% load static %}
                <img src="{% static 'myapp/navigations.png'%}" alt="For Whisky Beginners" width="250px">
                <h4 class="bahn24"> Please choose an action from the following options</h4>
                <p>
                    <a class="bahn24link" href="{% url 'whisky_selector2' %}">Compare prices (Log-in required)</a><br>
                    <a class="bahn24link" href="{% url 'whiskymaintenance' %}">Do maintenance (Admins Only)</a></p>
            </div>

        </div>
    </div>
{%  endblock %}