{% extends "base.html" %}
{% block content %}

<p class="bahn24">You are looking for the price of <b class="bahn24red">{{ whiskyA.item_name }}</b> at Nationwide Liquor
and the price of <b class="bahn24red">{{ whiskyB.item_name }}</b> at Youbooze.</p>

<table class="bahn24">
  <tr>
    <th>Whisky Name</th>
    <th>Price</th>
  </tr>
  <tr class="bahn24red">
    <td>{{ whiskyA.item_name }}</td>
    <td>{{ whiskyA.price }}</td>
  </tr>
  <tr class="bahn24red">
    <td>{{ whiskyB.item_name }}</td>
    <td>{{ whiskyB.price }}</td>
  </tr>
</table>

{% endblock %}