<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_superuser %}
<h1>Maintenance operations</h1>
Please select a maintenance action
<form action="" method="get">
    <input type="radio" id="whiskies" name="selection" value="whiskies">
    <label for="whiskies">Update the price list of LiquorStore.com</label><br>
    <input type="radio" id="whiskies_booze" name="selection" value="whiskies_booze">
    <label for="rates">Update the price list of YouBooze</label><br>
    <input name="form_submitted" value="1" type="hidden">
    <input name="update" value="Do selected action" type="submit">
</form>
{% else %}
ACCESS DENIED!
{% endif %}
</body>
</html>